html, body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.content{
    padding: 10px;
    position: relative;
}
.lines-txt{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    padding: 4px;
    height: 300px;
}
.label{
    vertical-align: middle;
    display: inline-block;
    width: 48px;
}
.param-box{
    margin-bottom: 12px;
    position: relative;
}
.btn{
    font-size: 15px;
    text-align: center;
    padding: 6px;
    background: #d83331;
    color: #ffffff;
    margin-bottom: 12px;
    cursor: pointer;
}
.img-list{
    background: #e8e8e8;
    padding: 12px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.img-item{
    vertical-align: top;
    position: relative;
    margin: 7px;
    display: inline-block;
    font-size: 0;
}
.img-item span{
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    padding: 3px;
    font-size: 12px;
    background: #d83331;
    color: #ffffff;
}
.img-item img{
    min-width: 40px;
    min-height: 40px;
}
.input-box{
    position: absolute;
    right: 12px;
    top: 0;
    left: 48px;
    bottom: 0;
    margin: auto;
}
.param-txt{
    display: block;
    vertical-align: middle;
    width: 100%;
    padding: 3px;
}
.lines-box{
    margin-bottom: 18px;
}
.web-list-create{
    background: #f7b50c;
}
.web-grab{
    background: #d83e14;
}
.deal-with{
    background: #1eba38;
}
.img-show{
    background: #40a5d8;
}

.page{
    list-style: none;
    padding: 0;
    margin: 0;
}

.all-row, .panel-content{
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}
.panel-content{
    background: #f0f0f0;
    padding: 0;
}
.server-content,.data-content{
    height: auto;
}
.server-content.hide,.data-content.hide{
    height: 0px;
}

.size-btn{
    width: 100%;
}